

div{
    justify-content:center ;
    align-content: center;
     /* background-color: peachpuff;  */
    margin-left: 20%;
    margin-top: 10%;
    margin: 10px;
padding: 5px;
text-align:left;
justify-content: center;
text-align: center;
/* background-image: url(BackgroundImg.jpg); */


}
body{
    background-image: url(BackgroundImg.jpg);
} 
